html{
background-color:#122222;
}
body{
border:5px solid #1b5427;
border-radius:15px;
margin-left:auto;
margin-right:auto;
margin-top:1%;
margin-bottom:1%;
width:75%;
box-shadow:5px 5px 5px black;
}

input, textarea{
box-shadow:2px 2px 2px black;
}
header{
margin-top:2%;
padding-top:0.73%;
}
.titulo{
display:inline;
margin-left:2%;
}
.logo{
float:left;
}
.salto{
display:block;
}
.recordar{
display:block;
}
h1{
display:inline;
color:#1B5427;
font-size:295%;
}
h2{
font-size:175%;
color:#1b5427;
}
.login{
display:block;
width:48%;
float:right;
padding-left:12.5%;
}
.dinamico{
color:aqua;
margin-top:3%;
padding-left:25%;
font-size:150%;
position:relative;
font-style:italic;
}
nav ul{
margin-top:2%;
width:100%;
background-color:#122222;
border:2px solid black;
}
nav ul, nav ul li{
display:inline-block;
margin-top:0;
}
nav ul li{
margin-left:6%;
margin-right:6%;
}
nav ul li a {
font-size:150%;
}
nav ul li a:hover{
text-decoration:none;
color:#0ca3ac;
}
nav ul li a:active{
text-decoration:none;
color:red;
}
#bloque{
width:70%;
float:left;
}
.galeria{
padding:0;

}
.galeria li{
margin-bottom:1em;
display:inline-block;
width:10%;
}
.galeria li a img{
border:2px solid #1b5427;
border-radius:10px;
owerflow:hidden;
width:100%;
}
.galeria li a img:hover{
border:2px solid #1b5427;
border-radius:10px;
owerflow:hidden;
width:100%;
opacity: 0.5;
}
.sectionvideo{
width:50%;
float:right;
}
video{
width:65%;
}

.visitas {
	float:right;
	margin-right:7.5%;
	font-size:175%;
	color:#1b5427;
}

#comentarios h2 {
	padding:1%;
}

footer{
border-top:2px solid #1b5427;
margin-top:2%;
color:#1b5850;
}
#noresize{
resize:none;
}

.resize {
	width:100%;
	height:150px;
	resize:none;
	border:2px solid black;
	padding:1%;
}

.enviar{
text-align:center;
margin-top:0.6%;
margin-bottom:0.6%;
}
.datos{
border:2px solid #1b5850;
padding:2%;
border-radius:5px;
box-shadow:5px 5px 5px black;
height:200px;
width:100%;
overflow:auto;

}
strong{
color:white;
}
ul.contact{
cursor: default;
margin: 0 0 1em 0;
}
ul.contact li{
display: 
inline-block;
font-size: 1.5em;
margin-left:6%;
}
ul.contact li a{
text-decoration:none;
opacity: 0.35;
color: #fff;
-moz-transition: opacity 0.25s ease-in-out;
-webkit-transition: opacity 0.25s ease-in-out;
-o-transition: opacity 0.25s ease-in-out;
-ms-transition: opacity 0.25s ease-in-out;
transition: opacity 0.25s ease-in-out;
}
ul.contact li a:hover{
opacity: 1.0;
}

.cerrar {
	float:right;
}

span {
	color:white;
	font-style:italic;
}